<!doctype html>
<html id="ng-app" ng-app="fevi" lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org">
<head th:include="layout::fevi_head">
</head>

<body>
<div ng-controller="FeviMenuCtrl" id="content-body">
    <side-menus>

        <side-menu side="left" th:include="layout::fevi_left_menu"></side-menu>
        <side-menu side="right" th:include="layout::fevi_right_menu"></side-menu>
        <!-- Center content -->
        <pane side-menu-content="" style="z-index: 1;">
            <div class="bar bar-header bar-assertive" th:include="layout::fevi_center_menu"></div>
            <content
                    has-header="true" has-footer="true" scroll="true"
                    class="cards-bg"  on-infinite-scroll="loadMore" th:if="${isFevi}">
                <div class="cardList">
                </div>
            </content>
            <content
                    has-header="true" has-footer="true" scroll="true" overflow-scroll="true"
                    class="cards-bg" when-scrolled="attachCards()" th:unless="${isFevi}">
                <div class="cardList">
                </div>
            </content>



            <div class="bar bar-footer" id="footer-ad">
            </div>
        </pane>
    </side-menus>
</div>

<body th:include="layout::fevi_script">
</body>
</body>
</html>
