<!doctype html>
<html id="ng-app" ng-app="fevi" lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org">
<head th:include="layout::fevi_head">
</head>
<head>
    <meta property="og:title" content="Fevi - 페이스북 비디오^^"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" th:content="${card.picture}"/>
    <meta property="og:description" th:content="${ card.description }"/>
</head>

<body>
<div ng-controller="FeviMenuCtrl" id="content-body">
    <side-menus>

        <side-menu side="left" th:include="layout::fevi_left_menu"></side-menu>
        <side-menu side="right" th:include="layout::fevi_right_menu"></side-menu>
        <!-- Center content -->
        <pane side-menu-content="" style="z-index: 1;">
            <div class="bar bar-header bar-assertive" th:include="layout::fevi_center_menu"></div>

        <content
            has-header="true" has-footer="true" scroll="true" overflow-scroll="true"
            class="cards-bg" >
            <div class="list">
                <div class="card not-support-alert" onclick="moveMarket();" style="display: none;">
                    <div class="item item-text-wrap">
                        <p><li class="ion-information-circled"></li>&nbsp;지원하지 않는 브라우져 입니다.</p>
                        <p>원활한 이용을 위해서 <span style="text-decoration: underline; color: #145fd7;">Fevi app</span>을 이용해 주시기 바랍니다.</p>
                    </div>
                </div>
                <div class="card go-market-android" onclick="moveMarket();" style="display: none;">
                    <div class="item item-text-wrap">
                        <p>
                        <li class="ion-home"></li>
                        &nbsp;<span style="text-decoration: underline; color: #145fd7;">안드로이드 앱으로 이동</span>
                        </p>
                    </div>
                </div>
                <div class="card go-chrome" style="display: none;">
                    <div class="item item-text-wrap">
                        <a href="http://www.google.com/chrome"><p>
                            <p><li class="ion-information-circled"></li>&nbsp;지원하지 않는 브라우져 입니다.</p>
                            <p>원활한 이용을 위해서 <span style="text-decoration: underline; color: #145fd7;">크롬</span>에서 이용해 주시기 바랍니다.</p>
                            </p></a>
                    </div>
                </div>
                <div class="card" >
                    <input type="hidden" th:value="${card.id}"/>
                    <input type="hidden" th:value="${card.source}"/>
                    <div class="item item-avatar">
                        <img th:src='${card.profile_image}' />
                        <h2 th:text="${card.name}"></h2>
                        <p th:text="${card.updated_time}"></p>
                    </div>
                    <div class="item item-body card_image" >
                        <a href="javascript:void(0)" class="play_button" onclick="play(this); return false;">
                            <img src="/static/img/play_button.png" />
                        </a>
                        <img class="card_img" th:src="${card.picture}" />
                    </div>
                    <div class="item item-body card-description-full">
                        <pre th:text="${card.description}"></pre>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left" >
                        <a class="tab-item" th:href="${'https://www.facebook.com/' + card.id }" target="_blank">
                            <i class="icon ion-thumbsup"></i>
                            &nbsp;Go to Facebook
                        </a>
                        <a class="tab-item"
                            href="javascript:share()">
                            <i class="icon ion-share"></i>
                            Share
                        </a>
                    </div>
                    <div class="item item-body" >
                        <h3>Comments</h3>
                        <br/>
                        <div id="comments_plugin1"></div>
                    </div>
                </div>
            </div>
            <script src="http://comments.skplanetx.com/script/plugin.js"></script> 
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                var title = /*[[${title}]]*/ null,
                    card = /*[[${card}]]*/ null;
                /*]]>*/

                var ua = navigator.userAgent;

                var isAndroidPhone = ua.indexOf('Android') > 0;
                var isFevi = ua.indexOf('Fevi') > 0;
                var isIOS = (ua.indexOf('iPhone') > 0 || ua.indexOf('iPad') > 0);
                var isIE = ua.indexOf('MSIE') > 0;
                var isNotSupport = (ua.indexOf('NAVER') > 0 || ua.indexOf('DaumApps') > 0);

                if(isAndroidPhone) {
                    if(isNotSupport) {
                        $('.not-support-alert').show();
                        $('.go-market-android').show();
                    } else if(!isFevi) {
                        $('.go-market-android').show();
                    }
                } else if(isIE) {
                    $('.go-chrome').show();
                }

                SKP.commentsPlugin({
                    // 댓글을 표시할 DOM element의 id
                    target_id: 'comments_plugin1',
                    op_app_key: '93826bf4-0daf-3050-9689-6137db81b4c5',
                    is_responsive: true
                });

                var play = function(div) {

                    var parent = $(div).parent();
                    var data = parent.parent().children();
                    var id = data[0].value;
                    var source = $(data[1]).attr('href');

                    if(isAndroid()) {
                        feviJs.play(source);
                    } else {
                        playWeb(div, id, source, parent);
                    }

                }

                var share = function() {
                    if(isAndroid()) {
                        card.description = card.description.substr(0,30) + "...";
                        var text = "[Fevi] " + card.description + " \n http://fe-vi.com/" + title + "/card?id=" + card.id;
                        feviJs.share(text);
                    } else {
                        window.open("https://www.facebook.com/sharer/sharer.php?u=http://fe-vi.com/" + title + "/card?id=" + card.id);
                    }
                }
            </script>
        </content>

<div class="bar bar-footer" id="footer-ad">
</div>
</pane>
</side-menus>
</div>

<body th:include="layout::fevi_script">
</body>
</body>
</html>