<!doctype html>
<html id="ng-app" ng-app="fevi" lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="http://angularjs.org">
<head th:include="layout::fevi_head">
</head>

<body>
<div ng-controller="FeviMenuCtrl" id="content-body">
    <side-menus>

        <side-menu side="left" th:include="layout::fevi_left_menu"></side-menu>
        <side-menu side="right" th:include="layout::fevi_right_menu"></side-menu>
        <!-- Center content -->
        <pane side-menu-content="" style="z-index: 1;">
            <div class="bar bar-header bar-assertive" th:include="layout::fevi_center_menu"></div>
            <content
                    has-header="true" has-footer="true" scroll="true"
                    class="cards-bg"  on-infinite-scroll="loadMore" th:if="${isFevi}">
                <div class="cardList">
                </div>
            </content>
            <content
                    has-header="true" has-footer="true" scroll="true" overflow-scroll="true"
                    class="cards-bg" when-scrolled="attachCards()" th:unless="${isFevi}">
                <div class="cardList">
                    <div class="card not-support-alert" onclick="moveMarket();" style="display: none;">
                        <div class="item item-text-wrap">
                            <p><li class="ion-information-circled"></li>&nbsp;지원하지 않는 브라우져 입니다.</p>
                            <p>원활한 이용을 위해서 <span style="text-decoration: underline; color: #145fd7;">Fevi app</span>을 이용해 주시기 바랍니다.</p>
                        </div>
                    </div>
                    <div class="card go-market-android" onclick="moveMarket();" style="display: none;">
                        <div class="item item-text-wrap">
                            <p>
                            <li class="ion-home"></li>
                            &nbsp;<span style="text-decoration: underline; color: #145fd7;">안드로이드 앱으로 이동</span>
                            </p>
                        </div>
                    </div>
                    <div class="card go-chrome" style="display: none;">
                        <div class="item item-text-wrap">
                            <a href="http://www.google.com/chrome"><p>
                                <p><li class="ion-information-circled"></li>&nbsp;지원하지 않는 브라우져 입니다.</p>
                                <p>원활한 이용을 위해서 <span style="text-decoration: underline; color: #145fd7;">크롬</span>에서 이용해 주시기 바랍니다.</p>
                            </p></a>
                        </div>
                    </div>
                </div>
            </content>



            <div class="bar bar-footer" id="footer-ad">
            </div>
        </pane>
    </side-menus>
</div>

<body th:include="layout::fevi_script">
</body>
<script>

    var ua = navigator.userAgent;

    var isAndroidPhone = ua.indexOf('Android') > 0;
    var isFevi = ua.indexOf('Fevi') > 0;
    var isIOS = (ua.indexOf('iPhone') > 0 || ua.indexOf('iPad') > 0);
    var isIE = ua.indexOf('MSIE') > 0;
    var isNotSupport = (ua.indexOf('NAVER') > 0 || ua.indexOf('DaumApps') > 0);

    if(isAndroidPhone) {
        if(isNotSupport) {
            $('.not-support-alert').show();
            $('.go-market-android').show();
        } else if(!isFevi) {
            $('.go-market-android').show();
        }
    } else if(isIE) {
        $('.go-chrome').show();
    }

</script>
</body>
</html>
